{% import "macros/form.html" as form %}

{% set data = data or {} %}
{% set errors = errors or {} %}

<form class="dataset-form dataset-resource-form form-horizontal" method="post" data-module="basic-form">
  {{ h.snippet('package/snippets/stages.html', stages=['complete', 'complete', 'active'], pkg_name=pkg_name) }}

  <p class="text-gray-margin">
      This step optinal, but encouraged, to enhance the visibility of your data. Providing additional information helps drive transparency, accountability, and re-use.
  </p>

  {{ form.errors(error_summary) }}

  {% snippet 'package/snippets/package_metadata_fields.html', data=data, errors=errors, groups_available=groups_available %}

  <div class="form-actions">
    {# TODO: Go back to previous resource form #}
    <button class="btn cancel" name="save" value="go-resources" type="submit"><i class="icon-save"></i> {{ _('Save and Quit') }}</button>
    <button class="btn btn-primary" name="save" value="finish" type="submit"><i class=" icon-share"></i> {{ _('Publish') }}</button>
  </div>

</form>
