<section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('Tips for naming your resources') }}</h2>
  <div class="module-content">
    <h2 class="module-heading">{{ _('Name') }}</h2>
    <div class="module-content">
      <p>{{ _('It is not necessary to include your organization name or dataset name, as these resources will be displayed under your organization along with your datasets. Choose a name that makes it clear what the resource contains, for example, Permits API Reference. ') }}</p>
    </div>

    <h2 class="module-heading">{{ _('Description') }}</h2>
    <div class="module-content">
      <p>{{ _('Keep it simple and concise. Expand on the name, but include the type of resource, for example, Permits API Reference for City of San Francisco, 2014.') }}</p>
    </div>

    <h2 class="module-heading">{{ _('Resource') }}</h2>
    <div class="module-content">
      <p>{{ _('Upload a file containing your API resource or provide a link its location on your server. You can associate as many API resources as you need for this dataset, as long as the files are in one of these supported formats:') }}</p>
      <ul>
        <li>application/JSON</li>
        <li>zip shapefile</li>
      </ul> 

      <ul class="list-format">
        <li>csv</li>
        <li>docx</li>
        <li>dox</li>
        <li>pdf</li>
        <li>geojson</li>
        <li>gzip</li>
        <li>png</li>
        <li>shp</li>
        <li>html</li>
        <li>json</li>
        <li>kml</li>
        <li>xls</li>
        <li>xlsx</li>
        <li>kml</li>
        <li>zip</li>
        <li>txt</li>
      </ul>
    </div>

  </div>
</section>
