{% extends "package/edit_base.html" %}

{% block primary_content %}
  <section class="module">
    {% block page_header %}{% endblock %}
    <div class="module-content">
      {% block primary_content_inner %}
        {% block form %}{{ c.form | safe }}{% endblock %}
      {% endblock %}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  {% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('Tips for naming your dataset') }}</h2>
      <div class="module-content">
        <p>{% trans %}
          Choose your title carefully. The title you choose can make all the difference for helping people find the data they want to work with. Here are some tips on naming your dataset for optimal results.
        {% endtrans %}</p>

      <h2 class="module-heading">{{ _('Title') }}</h2>
      <div class="module-content">
        <p>
          {% trans %}
            Do not include your agency or organization name. Choose a title that enables people to quickly and easily identify what the dataset contains.
          {% endtrans %}
        </p>
     </div>
      <h2 class="module-heading">{{ _('Description') }}</h2>
      <div class="module-content">
        <p>{% trans %}
            Make it short and to the point. Expand on the title, but make it easy for people to understand exactly what is in the data, with just a giance.
        {% endtrans %}</p>
     </div>
      <h2 class="module-heading">{{ _('Tags') }}</h2>
      <div class="module-content">
        <p>{% trans %}
            Tags are keywords that describe your data and make it easy for people to find exactly what they're looking for with a simple search. Separate each tag with a comma. Break up hyphenated info in case someone is looking for a small segment of data included in your set.
        {% endtrans %}</p>
     </div>
      <h2 class="module-heading">{{ _('License') }}</h2>
      <div class="module-content">
        <p>{% trans %}
            The license your dta resources are governed by License definitions and additional information can be found at <a href="http://opendefinition.org/licenses/">opendeinition.org</a>
        {% endtrans %}</p>
     </div>
    </div>   
    </section>
  {% endblock %}

  {% block resources_module %}
    {% snippet "package/snippets/resources.html", pkg={}, action='new_resource' %}
  {% endblock %}

{% endblock %}
