{% extends "package/base_form_page.html" %}

{% block subtitle %}{{ _('Add metadata to the dataset') }}{% endblock %}

{% block form %}{{ h.snippet('package/snippets/package_metadata_form.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name) }}{% endblock %}

{% block secondary_content %}
  {% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('Tips for additional info') }}</h2>
      <div class="module-content">
       
      <h2 class="module-heading" style="padding-left: 0; padding-right:0;">{{ _('Source') }}</h2>
      <div class="module-content" style="padding-left: 0; padding-right:0;">
        <p>
          {% trans %}
            Enter your website's "About Page" URL, for example, https://okfn.org/about/
          {% endtrans %}
        </p>
      </div>
      <h2 class="module-heading" style="padding-left: 0; padding-right:0;">{{ _('Version') }}</h2>
      <div class="module-content" style="padding-left: 0; padding-right:0;">
        <p>
          {% trans %}
            Enter the version number for this dataset. For example, if this is the first time you've uploaded this dataset, enter 1.0. For subsequent uploads, increment the version number appropriately.
          {% endtrans %}
        </p>
      </div>
      <h2 class="module-heading" style="padding-left: 0; padding-right:0;">{{ _('Author & Email') }}</h2>
      <div class="module-content" style="padding-left: 0; padding-right:0;">
        <p>
          {% trans %}
            The name of the man contact at the organization and the email address, where inquires about the data can be sent.
          {% endtrans %}
        </p>
      </div>
      <h2 class="module-heading" style="padding-left: 0; padding-right:0;">{{ _('Admin & Email') }}</h2>
      <div class="module-content" style="padding-left: 0; padding-right:0;">
        <p>
          {% trans %}
            The name and email address for a second person responsible for producing the data.
          {% endtrans %}
        </p>
      </div>
      <h2 class="module-heading" style="padding-left: 0; padding-right:0;">{{ _('Custom Fields') }}</h2>
      <div class="module-content" style="padding-left: 0; padding-right:0;">
        <p>
          {% trans %}
            To add custom fields, enter the field names and values here. For example, "Year of publication." For extensive customizations, contact <a href="#">admin@civicdata.com</a> to request changes to the default schema and dataset forms.
          {% endtrans %}
        </p>
      </div>

      </div>
    </section>
  {% endblock %}

{% endblock %}

