<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('Tips for creating organizations') }}
  </h2>
  <div class="module-content">
    {% trans %}
      <p>Ensure that your organization does not already exist before you create a new one. Duplicate organizations make it harder for people to discover and use your organization's datasets.</p>
      <p>Organizations that you are a member of are shown here. You might need to contact your organization's administrator to be added as a member.</p>
      <p><a href="/dashboard/organizations">Click here</a> to see if your organization has already been created.</p>
    {% endtrans %}
  </div>
</div>