<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Topics?') }}
  </h2>
  <div class="module-content">
    {% trans %}
      <p>Topics allow you to group together datasets under a community (for
        example, Civil Liberty data) or topic (e.g. Transport, Health,
        Environment) to make it easier for users to browse datasets by theme.
        Datasets can be part of a topic, but do not belong to the topic for
        editing or authorisation purposes.</p>
    {% endtrans %}
  </div>
</div>