{% set intro = g.site_intro_text %}

<div class="module-content box">
  
  <section class="home-about-us">
    <p>The open data movement has the potential to impact governing, civic engagement and government business. Today, a small fraction of agencies are actively providing open data, it's complex and costly for them, and there are very few implemented standards—datasets are described in very different ways. With CivicData.com we intend to:</p>
    </br>
    <p>· Radically simplify how open data is published and managed</p>
    <p>· Provide standard, cross-jurisdictional data in one place</p>
    <p>· Enable developers to build and deploy civic apps across    multiple jurisdictions</p>
    <p>· Address the needs of agencies large and small</p>
    <p>· Make these capabilities free and easy</p>
  </section>
</div>
