<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Civic Data - Democratizing Open Data for Civic Good</title>
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(/assets/background-smaller.jpg);
	background-repeat: no-repeat;
}
.quote {	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #8e5421;
}
.quote {	text-align: center;
}
.quotee {	font-size: 12px;
	color: #333;
}
.audience {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #7b7b7b;
	text-align: center;
	padding-top: 12px;
	padding-right: 54px;
	padding-bottom: 0px;
	padding-left: 12px;
}
.header {	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #333333;
	font-size: 18px;
}
.normal {	text-align: left;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a {
	color: #06F;
}
</style>
<script type="text/javascript" src="/assets/js/index.js"></script>
</head>

<body onload="MM_preloadImages('/assets/about-ovr.gif','/assets/developers-ovr.gif','/assets/constituents-ovr.gif','/assets/agencies-ovr.gif','/assets/login-ovr.gif')">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="49%" rowspan="3">&nbsp;</td>
    <td width="2%"><table width="1200" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="1200" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="254" rowspan="3" valign="top"><a href="http://www.civicdata.com"><img src="/assets/logo_CD.gif" width="254" height="101" alt="Logo" /></a></td>
            <td width="320" rowspan="3">&nbsp;</td>
            <td width="87" height="47">&nbsp;</td>
            <td width="146">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><a href="#aboutus"  onmouseover="MM_swapImage('about','','/assets/about-ovr.gif',1)" onmouseout="MM_swapImgRestore()"><img src="/assets/about.gif" alt="About" name="about" width="87" height="35" border="0" id="about" /></a></td>
            <td width="144"><a href="#audience" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('developers','','/assets/developers-ovr.gif',1)"><img src="/assets/developers.gif" alt="Developers" name="developers" width="146" height="36" border="0" id="developers" /></a></td>
            <td width="159"><a href="#audience" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Constituents','','/assets/constituents-ovr.gif',1)"><img src="/assets/constituents.gif" alt="Constituents" name="Constituents" width="159" height="36" border="0" id="Constituents" /></a></td>
            <td width="137"><a href="#audience" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('agencies','','/assets/agencies-ovr.gif',1)"><img src="/assets/agencies.gif" alt="Agencies" name="agencies" width="137" height="34" border="0" id="agencies" /></a></td>
            <td width="120"><a href="#resourcessection" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('resources','','/assets/resources-ovr.gif',1)"><img src="/assets/resources.gif" alt="Resources" name="resources" width="120" height="34" border="0" id="resources" /></a></td>
            <td><a href="/user/login" onmouseover="MM_swapImage('Login','','/assets/login-ovr.gif',1)" onmouseout="MM_swapImgRestore()"><img src="/assets/login.gif" alt="Login" name="Login" width="73" height="36" border="0" id="Login" /></a></td>
          </tr>
          <tr>
            <td height="21">&nbsp;</td>
            <td width="144">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><img src="/assets/banner-text.png" width="1200" height="704" border="0" usemap="#Map" /></td>
      </tr>
      <tr>
        <td><p class="quote">&nbsp;</p>
          <p class="quote">&quot;I think there is tremendous value for civic technologists in CivicData.com. Today many government agencies have their own data portals but now it will be even easier to access data from across departments and jurisdictions and make it possible for<br />
            technologists to build tools on top of this useful information.&quot;</p>
          <p class="quote"><span class="quotee">- <strong>Eddie Tejada</strong>, co-founder of Civic Insight and Code for America Brigade Leader in Oakland, CA</span></p>
          <p>&nbsp;</p>
          <p class="quote">&quot;Accela's CivicData.com has the unrivaled potential to impact governing, civic engagement and government business by leveraging our worldwide customer base. Developers and citizens are demanding a gathering place to leverage the power of open data.<br />
            With CivicData.com, we are making it easy for governments for to publish and manage their datasets, for developers to consume<br />
            and build solutions and for citizens to have transparent access to community information.&quot; <br />
          </p>
          <p class="quote"><span class="quotee">- <strong>Maury Blackman</strong>, Accela CEO and President </span></p>
          <p class="quote">&nbsp;</p></td>
      </tr>
      <tr>
        <td height="700" valign="top" style="background-position: 0px 0px; background-repeat: no-repeat; background-image: url(/assets/Screenshot.jpg); background-attachment: scroll; text-align: center;"><table width="1200" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="padding-top: 18px; color: #1a4b9d; font-size: 32px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; text-align: center;">See Your Civic Data at Work</td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td height="18" style="border-left-style: none; border-bottom-style: none; border-right-style: none; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 0px; border-top-style: none; border-top-width: 0px;"><span class="audience"><a name="audience" id="audience"></a></span></td>
      </tr>
      <tr>
        <td style="border-left-style: none; border-bottom-style: none; border-right-style: none; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 0px; border-top-style: none; border-top-width: 0px;"><table width="1200" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="/assets/agencies-icon.gif" width="400" height="280" alt="agencies" /></td>
            <td><img src="/assets/developer-icon.gif" width="400" height="280" alt="Developers" /></td>
            <td><img src="/assets/constitutents-icon.gif" width="400" height="280" alt="Contituents" /></td>
          </tr>
          <tr>
            <td class="audience">Enable agencies of all sizes to both publish and manage data in real-time standardized formats.</td>
            <td class="audience">Provide rich multi-jurisdictional data in standard formats for creation of impactful solutions.</td>
            <td class="audience">Offer transparent access to government information and services in the context of their needs.</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="32" style="background-position: 0px 0px; background-repeat: no-repeat; background-attachment: scroll;">&nbsp;</td>
      </tr>
      <tr>
        <td width="1200" height="575" valign="middle" style="border-left-style: none; border-bottom-style: none; border-right-style: none; border-top-style: none; font-weight: normal; line-height: 32px; color: #666; font-size: 22px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; background-position: 0px 0px; background-repeat: no-repeat; background-image: url(/assets/About-us-bkgd.jpg); background-attachment: scroll;"><table width="1200" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="671"><p><span style="color: #1a4b9d; font-size: 32px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">About Us</span><a name="aboutus" id="aboutus"></a></p>
              <p>The open data movement has the potential to impact governing, civic engagement and government business. Today, a small fraction of agencies are actively providing open data, it's complex and costly for them, and there are very few implemented standards—datasets are described in very different ways. With <strong><span style="color: #333;">CivicData.com</span></strong> we intend to:<br />
                 <br />
                · Radically simplify how open data is published and managed<br />
                · Provide standard, cross-jurisdictional data in one place<br />
                · Enable developers to build and deploy civic apps across &nbsp;&nbsp;&nbsp;multiple jurisdictions<br />
                · Address the needs of agencies large and small<br />
                · Make these capabilities free and easy</p></td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td style="border-left-style: none; border-bottom-style: none; border-right-style: none; color: #999; font-size: 14px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; border-top-color: #9A9A9A; border-top-style: none; border-top-width: 1px; text-align: left;">&nbsp;</td>
      </tr>
      <tr>
        <td style="border-left-style: none; border-bottom-style: none; border-right-style: none; color: #999; font-size: 14px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; border-top-color: #9A9A9A; border-top-style: none; border-top-width: 1px; text-align: left;"><span style="color: #1a4b9d; font-size: 32px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">Resources</span><a name="resourcessection" id="resourcessection"></a></td>
      </tr>
      <tr>
        <td style="border-left-style: none; border-bottom-style: none; border-right-style: none; color: #999; font-size: 14px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; border-top-color: #9A9A9A; border-top-style: none; border-top-width: 1px; text-align: left;"><table width="1200" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="30">&nbsp;</td>
            <td width="1140">&nbsp;</td>
            <td width="30">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><table width="1160" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="550">&nbsp;</td>
                <td width="40">&nbsp;</td>
                <td width="550">&nbsp;</td>
              </tr>
              <tr>
                <td valign="top"><table width="530" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="200" valign="top"><a href="/assets/CivicData_datasheet.pdf" ><img src="assets/thumb_datasheet.png" alt="" width="200" height="255" border="0"/></a></td>
                    <td width="20" valign="top">&nbsp;</td>
                    <td width="310" valign="top"><p class="header"><a href="/assets/CivicData_datasheet.pdf" >CivicData.com Data Sheet</a><a href="/assets/CivicData_datasheet.pdf"></a><a href="#"></a></p>
                      <p class="normal">The open data movement has the potential to impact governing, civic engagement and government business. Today, a small fraction of agencies are actively providing open data.  It can be complicated to publish, costly to manage, and there are very few implemented standards—datasets are described in very different ways... </p>
                      <p class="normal"><a href="/assets/CivicData_datasheet.pdf" >Download</a><a href="/assets/CivicData_datasheet.pdf"></a><a href="#"></a></p></td>
                  </tr>
                </table></td>
                <td valign="top">&nbsp;</td>
                <td valign="top"><table width="530" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="200" valign="top"><a href="/assets/OpenDataPolicyGuidelines_V2.pdf" ><img src="/assets/thumb_sunlight_odguide.png" alt="" width="200" height="255" border="0"/></a></td>
                    <td width="20" valign="top">&nbsp;</td>
                    <td width="310" valign="top"><p class="header"><a href="/assets/OpenDataPolicyGuidelines_V2.pdf" >Guidelines for Open Data Policies</a><a href="#"><br />
                    </a>(Courtesy of the Sunlight Foundation)</p>
                      <p class="normal">The Sunlight Foundation created this living document to present a broad vision of the kinds of challenges that open data policies can actively address...</p>
                      <p class="normal"><a href="/assets/OpenDataPolicyGuidelines_V2.pdf" >Download here</a><a href="#"></a></p>
                      <p class="normal">Or Direct: <a href="http://sunlightfoundation.com/opendataguidelines" >http://sunlightfoundation.com/<br />
                        opendataguidelines</a></p></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td valign="top">&nbsp;</td>
                <td valign="top">&nbsp;</td>
                <td valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td valign="top"><table width="530" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="200" valign="top"><a href="/assets/whitehouse_exec_order_050913.pdf" ><img src="/assets/thumb_exec_order.png" alt="" width="200" height="255" border="0"/></a></td>
                    <td width="20" valign="top">&nbsp;</td>
                    <td width="310" valign="top"><p class="header"><a href="/assets/whitehouse_exec_order_050913.pdf" >President Obama's Executive Order on Open Data</a><a href="#"></a></p>
                      <p class="normal">MAKING OPEN AND MACHINE READABLE THE NEW DEFAULT FOR GOVERNMENT INFORMATION By the authority vested in me as President by the Constitution and the laws of the United States of America, it is hereby ordered as follows: Section 1. General Principles. Openness in government strengthens our democracy, promotes the delivery of efficient and effective services to the public, and contributes to economic growth...</p>
                      <p class="normal"><a href="/assets/whitehouse_exec_order_050913.pdf" >Download</a><a href="#"></a></p></td>
                  </tr>
                </table></td>
                <td valign="top">&nbsp;</td>
                <td valign="top"><table width="530" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="200" valign="top"><a href="/assets/m-13-13.pdf" ><img src="/assets/thumb_exec_memo.png" alt="" width="200" height="255" border="0"/></a></td>
                    <td width="20" valign="top">&nbsp;</td>
                    <td width="310" valign="top"><p class="header"><a href="/assets/m-13-13.pdf" >White House Memo on Open Data</a><a href="#"></a></p>
                      <p class="normal">Information is a valuable national resource and a strategic asset to the Federal Government, its partners, and the public. In order to ensure that the Federal Government is taking full advantage of its information resources, executive departments and agencies (hereafter referred to as &quot;agencies&quot;) must manage information as an asset throughout its life cycle to promote openness and interoperability, and properly safeguard systems and information...</p>
                      <p class="normal"><a href="/assets/m-13-13.pdf" >Download</a><a href="#"></a></p></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td style="border-left-style: none; border-bottom-style: none; border-right-style: none; color: #999; font-size: 14px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; border-top-color: #9A9A9A; border-top-style: none; border-top-width: 1px; text-align: left;">&nbsp;</td>
      </tr>
    </table></td>
    <td width="49%" rowspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td style="border-left-style: none; border-bottom-style: none; border-right-style: none; border-top-style: none; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 0px; border-top-width: 0px; text-align: center;"><p style="padding: 4px; color: #999; line-height: 24px; font-size: 18px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">For more information, contact us at <a href="mailto:civicdata@accela.com">CivicData@Accela.com</a></p></td>
  </tr>
  <tr>
    <td><table width="1200" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="418" rowspan="2" style="text-align: right"><a href="http://www.accela.com"><img src="/assets/logo_accela.gif" alt="Accela Logo" width="240" height="70" border="0" /></a></td>
        <td width="782" height="80" valign="bottom" class="normal">2633 Camino Ramon Suite 500 | San Ramon, CA 94583 | <span style="text-align: left"></span>(925) 659-3245</td>
      </tr>
      <tr>
        <td height="40" valign="bottom">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>

<map name="Map" id="Map">
  <area shape="rect" coords="628,325,989,406" href="/en/user/register" alt="Register Now" />
  <area shape="rect" coords="469,601,715,661" href="http://www.accela.com" alt="Accela" />
  <area shape="rect" coords="218,324,570,405" href="/en/home" alt="Explore" />
</map>
<!--Marketo Munchkin Code -->
<script type="text/javascript">
document.write(unescape("%3Cscript src='http://munchkin.marketo.net/munchkin.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script>Munchkin.init('379-QBP-144');</script>

</body>
</html>
