.wrapper {
    box-shadow: none;
}

.masthead a:hover {
	 text-decoration: none;
}

.masthead {
	background-image: url('');
	background-color: #f2f5fa;
	border-bottom: 0px solid #cccccc;
	min-height: 75px;
}

.masthead .container {
	margin-top: 0px;
}

.masthead .container .content {
	margin-top: 15px;
        font-size: 18px;
}

.hero {
	background-image: url('/base/accela-images/bg_banner_graphics.png');
	background-color: #ffffff;
}

.nav-pills > li > a {
	font-weight: bold;
}
.masthead .navigation .nav-pills li a:hover, 
.masthead .navigation .nav-pills li.active a {
	background-color: #ffffff;
	color: #ffa200;
}
.masthead .navigation .nav-pills li.active a {
        pointer-events: none;
}

.nav-count  > li > a {
	margin-top: 4px;
}

.nav-count  > li .image {
	margin-top: 0px;
}

.account-masthead {
	background:#222;
}

.account-masthead .account ul li a {
	color:#fff;
}

.account-masthead .account ul li a:hover {
	color:#f58124;
}

.masthead .account {
	margin-right: 0px;
}

.masthead .site-search {
	margin-right: 16px;
	margin-top: 2px;
}

.masthead .site-search input{
	width: 145px;
    padding-right: 25px;
    border-color:#eeeeee;
}
.breadcrumb>.active {
    color: #f9a310;
    font-weight: bold;
}


.homepage [role=main] {
	padding:0px 0 78px 0;
}

[role=main], .main {
	background: url('/base/accela-images/bg_banner_graphics.png') no-repeat 1440 546;
	background-color: #ffffff;
}

.site-footer {
	background-image: url('/base/accela-images/bg_footer_graphics.png');
    background-repeat: no-repeat;
    background-position: center 0px;
	background-color: #ffffff;
	color: #000000;
    height: 190px;
    width: 100%;
}

.site-footer label, 
.site-footer a, 
.masthead a,
.homepage .module-search .tags h3 {
	color: #002c76;
}

.attribution .ckan-footer-logo {
	width: 89px;
	height: 20px;
}

.homepage .module-search .module-content .heading {
	color: #ffffff;
	text-align: center;
	font-size: 2.1em;
}

.page-heading {
    color: #002c76;
    text-align: left;
}

.homepage .module-search .module-content,
.homepage .module-search .tags {
	background-color: transparent;
}

.homepage .module-search .module-content h1 {
    color: #ffffff;
    font-size: 16px;
    font-weight:normal;
    text-align: center;
    margin: 0px;
}

.homepage .module-browse {
    background: transparent;
    #background-image: url('/base/accela-images/bg_blue_popup.png');
    filter:alpha(opacity=90);-moz-opacity:0.9;opacity:0.9; -khtml-opacity: 0.9;
}

.btn-primary, .btn {
    background-image: url('');
    background-color: #335691;
    color: #ffffff;
    box-shadow: none;
    text-shadow: none;
}

.btn-primary:hover, .btn:hover{
	background-color: #ffa200;
}

.nav-tabs > li > a, a {
	color: #002c76;
}
.dataset-heading {
    font-size: 18px;
}
.dataset-heading a {
	color: #002c76;
	text-decoration: none;
}

.dataset-heading a:hover {
	color: #ffa200;
	text-decoration: none;
}

a, a:hover, a:focus {
	text-decoration: none;
}

body {
	background-image: url('');
	background-color: #ffffff;
	font-family: "bariol_regularregular";
}

/* homepage content */
.browse-share-learn {
	width: 300px; 
}

.layout-1.homepage .row {
	margin-left:0px;
    background: transparent;
}

.layout-1.homepage .row1 .col1 {
    background: url('/base/accela-images/bg_white_block.png') no-repeat 0px 40px;
    #background: transparent;
    margin:0px 0px 0 0;
}

.layout-1.homepage .row1 .col1 .module-content{
    height: 390px;
    float: left;
    background: transparent;
}

.home-about-us {
    margin-top: 100px;
    margin-left: 0px;
}

.layout-1.homepage .row1 .col2 {
	position: static;
    margin-top: 210px;
    width: 460px;
    background-image: url('/base/accela-images/bg_blue_popup.png');
}

.layout-1.homepage .hero .row2 {
    margin: 32px 0 0 0;
    height: 40px;
}

.layout-1.homepage .hero .row2 .col1{
    height: 40px;
    width: 940px;
    margin-left: 0px;
    #margin-left: 23px;
    background-image: url('/base/accela-images/bg_blue_popup.png');
}

.layout-1.homepage .hero .row2 .popular-tags-title{
    height: 40px;
    float: left;
    color: #ffffff;
    background-color: #ffa200;
    width: 114px;
}

.layout-1.homepage .hero .row2 .popular-tags-title h1 {
    font-size: 16px;
    margin: 0px 10px 0px 10px;
    line-height: 40px;
}

.layout-1.homepage .hero .row2 .popular-tags-content{
    width: 800px;
    height: 40px;
    float: left;
    #background-image: url('/base/accela-images/bg_popular_tags.png');
}

.layout-1.homepage .hero .row2 .popular-tags {
    background: transparent;
}

.layout-1.homepage .hero .row2 .popular-tags-content .popular-tag {
    height: 24px;
    line-height: 36px;
    margin-left: 10px;
    margin-top: 8px;
    background: #ffffff;
    float: left;
}

.layout-1.homepage .hero .row2 .popular-tags-content .popular-tag-bg {
    width: 16px;
    height: 26px;
    float: left;
    margin-top: 7px;
    background: url('/base/accela-images/bg_tag_white.png') no-repeat 0px -25px;
}

.layout-1.homepage .hero .row2 .popular-tags-content h1{
    line-height: 26px;
    font-size: 16px;
    margin: 0px;
    margin-top: -3px;
    float: right;
    padding: 2px 8px;
    color: #002c76;
    background: transparent;
    #background-image: url('/base/accela-images/bg_popular_tag.png');
}

.homepage .module-search {
	height: 220px;
}

.homepage .module-search .tags h1 {
	color: #ffa200;
	text-align: center;
	font-size: 50px;
	margin-bottom: 0px;
	margin-top: 0px;
	line-height: 60px;
}

.homepage .module-search .tags h6 {
	color: #ffa200;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 13px;
}

.homepage .module-search .search-giant,
.homepage .module-search .share-content,
.homepage .module-search .learn-content {
	margin-bottom: 0px;
	margin-top: 20px;
}

.homepage .module-search .search-giant {
    width: 435px;
    margin: 0px;
    margin-top: 22px;
    padding: 10px;
}

.search-form .search-giant.search-input input {
	#height: 40px;
    #width: 435px;
    #margin-top: 6px;
    padding-right: 50px;
    padding-right: 50px;
    border-radius: 4px;
    border: 0px;
    background: #ffffff;
}

.module-narrow .module-content.search-form {
    padding-right: 0px;
    padding-left: 0px;
}

.homepage .module-search .share-content p,
.homepage .module-search .learn-content p {
	color: #333333;
	line-height: 18px;
	font-size: 13px;
}

.homepage .module-search .share-btn  a {
	color: #ffffff;
	font-size: 1.3em;
	padding: 0.5em;
	margin-top: 10px;
	width: 80px;
}

.homepage .module-search .share-btn {
	text-align: center;
}

.homepage .module-search .tags ul,
.homepage .module-search .tags ul li {
	list-style-type: disc;
	list-style-position: outside;
	list-style-image: none;
	color: #000000;
}

.homepage .module-search .tags ul li a {
	line-height: 18px;
	font-size: 13px;
	color: #ffa200;
	font-weight: bold;
	text-decoration: none;
}

.homepage .hero .container .module-search {
	border: 0px;
	box-shadow: none;
    padding: 0px;
}

.homepage .hero .container {
    margin-top: 0px;
}

.agencies h1{
	line-height: 36px;
	font-weight: normal;
	color: #00a3dc;
	font-size: 30px;
}

.agencies-box {
	float: left;
	width: 300px;
	margin-top: 10px;
	margin-left: 10px;
	border: 0px none #ffffff;
	box-shadow: 0px 0px 0px 0px #ffffff;
	border-radius: 0px;
}

.agencies-col .module .module-heading {
    border: 1px solid #f1f1f1;
    border-bottom: 0px solid #ffffff;
    background-color: #ffffff;
}

.agencies-col .dataset-list .dataset-item{
    border: 1px solid #eeeeee;
    border-bottom: 0px solid #ffffff;
    background-color: #f6f6f6;
}

.agencies-show {
	width: 940px;
}

.home-about-us p{
    margin: 0 0 0 0;
    font-size: 14px;
}

.box {
    border-color: #ffffff;
    border-width: 0px;
    border-style: none;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #ffffff;
}

.agencies-row {
    
}

.agencies-col {
    width: 960px;
    padding-left: 0px;
    margin-left: 0px;
}

.agencies-col .box{
    width: 460px;
    float: left;
    margin:0px 20px 0px 0px;
}

.module-image {
    width: 70px;
}

.module-image img {
    max-width: 70px;
    width: 70px;
}

.header-image {
    margin-top: 6px;
}

/* footer */
.site-footer .footer-links {
    width: 670px;
}

.site-footer .attribution {
    width: 250px;
    text-align: center;
    height: 40px;
}

.site-footer .attribution .ckan-footer-logo {
    background-image: none;
    display: inline;
    margin-left: 10px;
    margin-bottom: 20px;
    float: right:
}

.site-footer .container {
    margin-top: 150px;
}

.site-footer .attribution h1{
    #display: inline;
    float: left;
    line-height: 36px;
    margin-top: 0px;
    font-size: 14px;
    height: 40px;
}

.footer-links ul {
    width: auto;
    display: block;
    margin-left: 0px;
}

.footer-links ul li {
    display: inline;
    margin-left: 20px;
}

.footer-links ul li a {
    font-size: 12px;
    color: #000000;
}

/* datasets */
.active.nav-item {
    height: 20px;
}

.active.nav-item a{
    background-color: #ffffff;
    background-image: url('/base/accela-images/bg_nav_select.png');
    background-repeat: no-repeat;
    float: left;
    width: 199px;    
}

.active.nav-item a:hover{
    background-color: #ffffff;
}

.active.nav-item a::before {
    background-image: url('');
}

.nav-facet .active.nav-item a::after {
    background-image: url('');
}

/* datasets_create */
.stages li.active::before {
    background-color: #ffa200;
    color: #ffffff;
}

.stages li.active .highlight {
    background-color: transparent;
    color: #ffa200;
    font-size: 18px;
}
 .stages li.complete  .highlight {
    background-color: transparent;
    color: #1a4b9d;
    font-size: 18px;
} 

.stages li::before {
    background-color: #dedede;
    line-height: 30px;
    margin-top: 5px;
    color: #aaaaaa;
}

.stages li::after, .stages.stage-2 li::after, .stages.stage-3 li::after {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.stages li {
    background-color: transparent;
    height: 60px;
    #line-height: 60px;
}

.stages li .highlight {
    line-height: 37px;
    padding: 10px 0 10px 52px;
}

.stages.stage-1 {
    background-image: url('/base/accela-images/bg_step_1.png'); 
    background-repeat: no-repeat;
}

.stages.stage-2 {
    background-image: url('/base/accela-images/bg_step_2.png'); 
    background-repeat: no-repeat;
}

.stages.stage-3 {
    background-image: url('/base/accela-images/bg_step_3.png'); 
    background-repeat: no-repeat;
}

.stages li.complete .highlight {
    background-color: transparent;
}

.stages.stage-2 li.complete::before,
 .stages.stage-3 li.complete::before {
    background-color: #1a4b9d;
    color: #fffff;
}

/* Group */
.toolbar .breadcrumb .active a, .toolbar .breadcrumb a {
    color: #002c76;
}
.toolbar .breadcrumb .active a, .toolbar .breadcrumb a.active {
    color: #f9a310;
    pointer-events: none;
}
.toolbar .breadcrumb .active a:hover, .toolbar .breadcrumb a:hover {
    color: #ffa200;
}

.media-heading {
    color: #002c76;
    font-size: 14px;
    height: auto;
    overflow: hidden;
    text-overflow:clip;
}
h1.heading {
    overflow: hidden;
    text-overflow:clip;
}

.media-item p {
    font-size: 12px;
    height: 60px;
}

.media-item .media-image {
    width: 180px;
    height: 110px;
}

/* Group create*/
.btn-mini {
    border-radius: 4px;
}

.nav-tabs > .active a {
    color: #ffa200;
}

/* analyze */
table .metric {
    width: 100px;
}

.ckanext-datapreview>iframe {
    min-height: 666px;
}
.simple-input .field .btn-search {
  *margin-right: .3em;
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  background-image: url("../../../base/images/sprite-ckan-icons.png");
  background-repeat: no-repeat;
  background-position: 16px 16px;
  background-position: -51px -16px;
  position: absolute;
  display: block;
  height: 17px;
  width: 17px;
  padding: 0;
  top: 50%;
  right: 0;
  margin-top: -10px;
  background-color: transparent;
  border: none;
  color: #999;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  text-indent: -999em;
}
.resource-upload-field input {
    border-width: 0px\9;
    width: 100px\9;
}
.module-heading .action {
  float: right;
  color: #888888;
  font-size: 12px;
  line-height: 20px;
  text-decoration: underline;
}
.module-heading .action:hover {
  color: #444444;
}
.dataset-resource-form .dataset-form-resource-types {
  margin-bottom: 5px;
}
.dataset-form-resource-types .ckan-icon {
  position: relative;
  top: 3px;
}
.dataset-form-resource-types .radio {
  font-weight: normal;
  padding-left: 0;
  padding-right: 18px;
}
.dataset-form-resource-types label {
  position: relative;
}
.dataset-form-resource-types input[type=radio]:checked + label {
  font-weight: bold;
}
.dataset-form-resource-types input[type=radio]:checked + label:after {
  *margin-right: .3em;
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
  background-image: url("../../../base/images/sprite-ckan-icons.png");
  background-repeat: no-repeat;
  background-position: 16px 16px;
  width: 16px;
  height: 16px;
  background-position: -192px 0;
  display: block;
  content: "";
  position: absolute;
  top: auto;
  left: 0;
  bottom: -12px;
}
.dataset-form-resource-types input[type=radio] {
  display: none;
}

#userobj .btn {
    background-color: transparent;
    border: 0;
    position: relative;
    top: 4px;
    padding-right: 4px;
    padding-left: 4px;
}
#userobj .dropdown-toggle  {
    color: #002c76 !important;
    -webkit-box-shadow: none ;
    -moz-box-shadow: none ;
    -ms-box-shadow: none ;
    -o-box-shadow: none ;
    box-shadow: none;
    font-weight: normal;
    outline: none;
    font-size: 18px;
}
#userobj .caret {
    position: relative; 
    top: 2px;
    margin-right: 4px;
    border-top-color: #002c76;
    border-bottom-color: #002c76;
}
.dropdown-menu {
    z-index: 10000;
}
#userobj .btn:hover, #userobj .dropdown-menu li a:hover {
    background: #ccc;
}
.masthead .content {
    right: -20px;
}
.group-list .dataset-content {
    min-height: 20px;
}

/*Italics*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
font-style: italic !important; /* WebKit browsers /
}
input:-moz-placeholder, textarea:-moz-placeholder {
font-style: italic #D6D0CA !important; / Mozilla Firefox 4 to 18 /
}
input::-moz-placeholder, textarea::-moz-placeholder {
font-style: italic #D6D0CA !important; / Mozilla Firefox 19+ /
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
font-style: italic #D6D0CA !important; / Internet Explorer 10+ */
}



.orange, .slug-preview-value {
    color: #f9a310 !important;
    background-color: #fff;
    font-weight: normal;
}
.text-gray, .text-gray-margin {
    color: #999 !important;
    font-size: 16px;
}
.text-gray-margin {
    margin-bottom: 30px;
}
em a {
    color: #1a4b9d;
    text-decoration: underline;
}
.control-full {
    margin-right: 17px;
}
.custom-fileds input {
    width: 208px;
}
.list-format li {
    width: 50%;
    float: left;
}
.list-format {
    position: relative; top: -10px;
}
.list-format li:first {
    width: 100%;
    float: none;
}

.cancel{
    color: #335691;
    background-color: #fff !important;
    border: 1px solid #335691;
}
.cancel:hover {
    color: #fff;
    background-color: #f9a310 !important;
    border: 1px solid #f9a310;
}
.again {
    color: #335691;
    background-color: #fff !important;
    border: 0;
    outline: none;
    padding-right: 15px;
    font-weight: normal;
}
.again:hover {
    color: #f9a310;
}
.module-content .module-heading {
    background-color: #fff;
}